body {
    background-image: url('https://i.pinimg.com/originals/5d/56/10/5d5610d5e8ffc54c697abfd0a48dcdc1.jpg');
    display: block;
}

.box {
    display: relative;
    justify-content: center;
    margin-top: 100px;
    height: 500px;
    
}

.matriz {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.input {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;

}

.off {
    display: none;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 700px;
}
button {
    margin: auto;
}

.x {
    background: rgb(12, 54, 240);
    text-align: center;
}

.o {
    background: rgb(243, 228, 21);
    text-align: center;
}
.lh1 {
    background-image: linear-gradient(black,black, white, black,black);
    color: brown;
}

.ltv1 {
        background-image: linear-gradient(45deg,black,black, white, black,black);
}

.lv1 {
    background-image: linear-gradient(270deg,black,black, white, black,black);
}

.ltv2 {
    background-image: linear-gradient(315deg,black,black, white, black,black);
}

 /* butões das caixas */ 


 .container {
     height: 155,90;
 }
 .buttons {
     position: absolute;
     top: 130px;
     left: 50px;
 }

 .buttons2 {
    position: absolute;
    top: 130px;
    left: 210px;
}

.buttons3 {
    position: absolute;
    top: 130px;
    left: 370px;
}

.buttons4 {
    position: absolute;
    top: 285px;
    left: 50px;
}

.buttons5 {
    position: absolute;
    top: 285px;
    left: 210px;
}

.buttons6 {
    position: absolute;
    top: 285px;
    left: 370px;
}

.buttons7 {
    position: absolute;
    top: 440px;
    left: 50px;
}

.buttons8 {
    position: absolute;
    top: 440px;
    left: 210px;
}

.buttons9 {
    position: absolute;
    top: 440px;
    left: 370px;
}